<div class="panel panel-default offset-md-2">
  <div class="panel-heading">
    <div class="row">
      <h1 class="title pad-left-right">Contacts</h1>
    </div>
    <div class="row">
      <div class="input-group pull-left pad-left-right col-xs-7">

        <input type="text" class="form-control" placeholder="Enter search value" #searchBox (keypress)="onKeyPress(searchBox.value)">

        <div class="glyphicon glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
      </div>
      <div class="pull-right pad-left-right">
        <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <cms-contact-item *ngFor="let contact of contacts | contactsFilter: [term], let i = index" [contact]="contact" [contactIdx]="i" dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['demo1']"></cms-contact-item>
  </div>
</div>

